<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <h1>Bem vindo ao nosso site!</h1>
    <p>Agendamento de evento:</p>
        <form action="/agendar" method="post">
            <label>Nome: </label>
            <input type="text" name="nome">

            <label>Descricao: </label>
            <textarea name="descricao" id="" cols="30" rows="10"></textarea>

            <select>
                <option value="humor">Humor</option>
                <option value="musical">Musical</option>
                <option value="feira">Feira</option>
                <option value="outros">Outros</option>
            </select>

            <label>HorarioInicio</label>
            <input type="text" name="Horario Inicio">

            <label>HorarioFim</label>
            <input type="text" name="HorarioFim">

            <label>Rua</label>
            <input type="text" name="Rua">

            <label>Estado</label>
            <input type="text" name="Estado">

            <label>Pais</label>
            <input type="text" name="Pais">

            <label>Bairro</label>
            <input type="text" name="Bairro">

            <label>Numero</label>
            <input type="text" name="Numero">

            <button>Agendar</button>
        </form>

</body>
</html>